# VUE_APP_API_URL=http://10.10.17.114:8000/api/
# VUE_APP_WEB_TOKEN=jlF2ufO1mndRwSZPgRtr9PQRoCfKh6AnLezUclLX
# VUE_APP_WEB_COUNTRY_CODE=PH
# VUE_APP_CHAT_SERVER=http://10.10.17.114:3000/

# https positive
# VUE_APP_API_URL=https://api.positive.com.ph/api/
# VUE_APP_WEB_TOKEN=Gg5nSFLPNx3YBFuOHndTt89MIIr2irUGAJdSxf4Q
# VUE_APP_WEB_COUNTRY_CODE=PH
# VUE_APP_CHAT_SERVER=https://api.positive.com.ph:3000/

# localhost
# VUE_APP_API_URL=http://localhost:8000/api/
# VUE_APP_WEB_TOKEN=Gg5nSFLPNx3YBFuOHndTt89MIIr2irUGAJdSxf4Q
# VUE_APP_WEB_COUNTRY_CODE=PH
# VUE_APP_CHAT_SERVER=http://localhost:3000/

# wwlive - playstore luma
# VUE_APP_API_URL=https://18.140.129.247/wirewolf_api/api/
# VUE_APP_WEB_TOKEN=Gg5nSFLPNx3YBFuOHndTt89MIIr2irUGAJdSxf4Q
# VUE_APP_WEB_COUNTRY_CODE=PH
# VUE_APP_CHAT_SERVER=https://18.140.129.247:3000/



# Gooogle Client ID

# LOCAL
# VUE_APP_GOOGLE_CLIENT_ID=605937123582-e55km36m224h3rqrgs65bmqalrkn1in9.apps.googleusercontent.com
# VUE_APP_LOGOUT=http://localhost:8080
# VUE_APP_LOGOUTHRIS=http://localhost:8080/loginhris

# TEST
# VUE_APP_GOOGLE_CLIENT_ID=605937123582-2v86p1vpacnn4hc3mmcdbo5l4nl7jv6e.apps.googleusercontent.com
# VUE_APP_LOGOUT=https://positive.com.ph
# VUE_APP_LOGOUTHRIS=https://positive.com.ph/loginhris
